body {
  margin: 0;
  font-family: open sans, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.logo {
  display: inline-block;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

#site-navigation {
  display: flex !important;
  flex-basis: auto;
  padding-left: 1000px;
}

.home-menu {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: row;
  align-content: center;
  box-sizing: border-box;
}

.menu-main {
  font-weight: 700;
  font-size: 12px;
}

.home-content {
  max-width: 1140px;
  padding-top: 100px;
  padding-right: 15px;
  padding-left: 15px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.nav-link {
  text-align: center;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  border-color: #ecf0f1;
  background: #ecf0f1;
}

ul {
  list-style-type: none;
  margin-left: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  margin-left: 3px;
}

p {
  margin-left: 7px;
  text-align: left;
}

textarea.form-control {
  height: auto;
}

.form-contact {
  float: left;
  width: 1100px;
  height: auto;
}

.form-group {
  margin-bottom: 15px;
  margin-left: 7px;
}

.form-control {
  display: block;
  width: 50%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn {
  padding: 12px 16px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn.btn-send {
  background: #2553b8;
  border-color: #2553b8;
  color: #fff;
}
.btn.btn-send:hover,
.btn.btn-send:focus {
  border-color: #1c408e;
  background: #1c408e;
}

iframe {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: row;
  align-content: center;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
}

.row-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.dbox .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #2553b8;
  margin: 0 auto;
  margin-bottom: 20px;
}

.dbox .icon span {
  font-size: 20px;
  color: #fff;
}

.fa-map-marker:before {
  content: "\f041";
}

.fa-phone:before {
  content: "\f095";
}

.fa-send:before, .fa-paper-plane:before {
  content: "\f1d8";
}

.fa-globe:before {
  content: "\f0ac";
}